.logo {
  font-family: "rubik", sans-serif;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  align-items: start;
  color: #555555;
  font-weight: medium;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #7ac751;
  }
}
