.item {
  list-style: none;
  text-align: start;

  transition: box-shadow 250ms liner;

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    & .itemAddToCartBtn,
    & .itemAddToFavBtn,
    & .favorite {
      transform: translateX(0);
    }
  }
}

.itemImg {
  position: relative;
  overflow: hidden;
  width: 100%;

  & > img {
    width: 100%;
  }
}

.itemAddToCartBtn {
  position: absolute;
  bottom: 10px;
  right: 20px;

  transition: transform 250ms ease-in, background-color 250ms ease-in,
    color 250ms linear;
}

.itemAddToFavBtn,
.favorite {
  position: absolute;
  bottom: 55px;
  right: 20px;

  transition: transform 250ms linear, background-color 250ms linear,
    color 250ms linear;
}

.favorite,
.itemAddToCartBtn,
.itemAddToFavBtn {
  border: none;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #555555;

  transform: translateX(200%);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7ac751;
    color: #fff;
  }
}

.favorite {
  background-color: #555555aa;
  .icon {
    fill: yellow;
    transition: fill 250ms linear;
  }
}

.textWrapper {
  padding: 10px;
}

.itemTitle {
  font-size: 20px;
  color: #555555;
}

.itemPrice {
  font-size: 18px;
  color: #7ac751;
}
