.headerContainer {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
