.additionalWrapper {
  display: flex;
  justify-content: flex-end;
}

.actions {
  position: relative;
  color: #555555;
  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.actionsCount {
  position: absolute;
  top: -3px;
  right: -8px;

  display: block;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7ac751;
  font-size: 12px;
  color: #fff;
}
